* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Bravura font provided by Steinberg - http://www.smufl.org/version/latest */
@font-face {
  font-family: 'Bravura';
  src: url("https://rawgit.com/steinbergmedia/bravura/master/redist/eot/Bravura.eot?") format("eot"), url("https://rawgit.com/steinbergmedia/bravura/master/redist/woff/Bravura.woff") format("woff"), url("https://rawgit.com/steinbergmedia/bravura/master/redist/otf/Bravura.otf") format("opentype");
}

/* base font size, music scales on this value */
html {
  font-size: 10px;
}

music-score {
  display: block;
  font-size: 0px;
  margin: 20rem 2rem 4rem;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  cursor: default;
}

music-measure {
  background: white;
  display: inline-block;
  position: relative;
  border-left: 0.1667rem solid black;
  border-right: 0.1667rem solid black;
  vertical-align: top;
  margin-right: -0.1667rem;
  /* starting measure */
  /* ending measure */
}

music-measure:first-child {
  border-left: 0.4rem solid black;
}

music-measure:last-child {
  border-right: 0.4rem solid black;
}

music-staff {
  display: block;
  -webkit-box-sizing: initial;
          box-sizing: initial;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 4rem;
  padding-bottom: 0.1667rem;
  min-width: 12rem;
  position: relative;
  white-space: nowrap;
  /* space between staves */
}

music-staff + music-staff {
  margin-top: 2rem;
}

/* ledger lines on staves and off-stave notes */
music-clef {
  display: inline-block;
  font-family: 'Bravura';
  font-size: 3.5rem;
  position: relative;
  margin: 0 0.25rem;
  margin-right: 1rem;
  vertical-align: top;
  height: 4rem;
}

/* treble staff clef */
music-staff[clef="treble"] music-clef {
  line-height: 6.5rem;
}

music-staff[clef="treble"] music-clef::before {
  content: "\E050";
}

/* bass staff clef */
music-staff[clef="bass"] music-clef {
  line-height: 2rem;
}

music-staff[clef="bass"] music-clef::before {
  content: "\E062";
}

music-note {
  font-family: 'Bravura';
  font-size: 3.5rem;
  position: relative;
  display: inline-block;
  margin: 0 0.25rem;
  vertical-align: top;
  /* space accidentals with margin so they are outside the ledger line */
}

music-note[accidental] {
  margin-left: 1.25rem;
}

music-note[accidental="doubleflat"] {
  margin-left: 1.75rem;
}

music-note::shadow #note {
  display: block;
  padding: 0 0.25rem;
  height: 100%;
  line-height: 1.0;
  position: relative;
  top: 0.3333rem;
  /* stem up */
  /* stem down */
}

music-note::shadow #note.up {
  margin-bottom: -1rem;
}

music-note::shadow #note.down {
  margin-bottom: 0;
  margin-top: -2rem;
}

music-note::shadow #note #accidental {
  text-align: right;
  display: block;
  position: absolute;
  width: 2rem;
  left: -2.1rem;
}

music-staff[clef="treble"] music-note[pitch="A4"] {
  padding-top: 4rem;
}

music-staff[clef="treble"] music-note[pitch="B4"] {
  padding-top: 3.5rem;
}

music-staff[clef="treble"] music-note[pitch="C4"] {
  padding-top: 3rem;
}

music-staff[clef="treble"] music-note[pitch="D4"] {
  padding-top: 2.5rem;
}

music-staff[clef="treble"] music-note[pitch="E4"] {
  padding-top: 2rem;
}

music-staff[clef="treble"] music-note[pitch="F4"] {
  padding-top: 1.5rem;
}

music-staff[clef="treble"] music-note[pitch="G4"] {
  padding-top: 1rem;
}

music-staff[clef="treble"] music-note[pitch="A5"] {
  padding-top: 0.5rem;
}

music-staff[clef="treble"] music-note[pitch="B5"] {
  margin-top: 2rem;
}

music-staff[clef="treble"] music-note[pitch="C5"] {
  margin-top: 1.5rem;
  background-position-y: 0.5rem;
}

music-staff[clef="treble"] music-note[pitch="D5"] {
  margin-top: 1rem;
}

music-staff[clef="treble"] music-note[pitch="E5"] {
  margin-top: 0.5rem;
  background-position-y: 0.5rem;
}

music-staff[clef="treble"] music-note[pitch="F5"] {
  margin-top: 0;
}

music-staff[clef="treble"] music-note[pitch="G5"] {
  margin-top: -0.5rem;
  background-position-y: 0.5rem;
}

music-staff[clef="treble"] music-note[pitch="A6"] {
  margin-top: -1rem;
}

music-staff[clef="treble"] music-note[pitch="B6"] {
  margin-top: -1.5rem;
  background-position-y: 0.5rem;
}

music-staff[clef="treble"] music-note[pitch="C6"] {
  margin-top: -2rem;
  padding-bottom: 1rem;
}

music-staff[clef="treble"] music-note[pitch="D6"] {
  margin-top: -2.5rem;
  background-position-y: 0.5rem;
  padding-bottom: 1rem;
}

music-staff[clef="treble"] music-note[pitch="E6"] {
  margin-top: -3rem;
  padding-bottom: 1rem;
}

music-staff[clef="treble"] music-note[pitch="F6"] {
  margin-top: -3.5rem;
  background-position-y: 0.5rem;
  padding-bottom: 2rem;
}

music-staff[clef="treble"] music-note[pitch="G6"] {
  margin-top: -4rem;
  padding-bottom: 2rem;
}

music-staff[clef="treble"] music-note[pitch="A7"] {
  margin-top: -4.5rem;
  background-position-y: 0.5rem;
  padding-bottom: 3rem;
}

music-staff[clef="treble"] music-note[pitch="B7"] {
  margin-top: -5rem;
  padding-bottom: 3rem;
}

music-staff[clef="treble"] music-note[pitch="C7"] {
  margin-top: -5.5rem;
  background-position-y: 0.5rem;
  padding-bottom: 4rem;
}

music-staff[clef="treble"] music-note[pitch="D7"] {
  margin-top: -6rem;
  padding-bottom: 4rem;
}

music-staff[clef="treble"] music-note[pitch="E7"] {
  margin-top: -6.5rem;
  background-position-y: 0.5rem;
  padding-bottom: 5rem;
}

music-staff[clef="treble"] music-note[pitch="F7"] {
  margin-top: -7rem;
  padding-bottom: 5rem;
}

music-staff[clef="treble"] music-note[pitch="G7"] {
  margin-top: -7.5rem;
  background-position-y: 0.5rem;
  padding-bottom: 6rem;
}

music-staff[clef="treble"] music-note[pitch="A8"] {
  margin-top: -8rem;
  padding-bottom: 6rem;
}

music-staff[clef="treble"] music-note[pitch="B8"] {
  margin-top: -8.5rem;
  background-position-y: 0.5rem;
  padding-bottom: 7rem;
}

music-staff[clef="treble"] music-note[pitch="C8"] {
  margin-top: -9rem;
  padding-bottom: 7rem;
}

music-staff[clef="treble"] music-note[pitch="D8"] {
  margin-top: -9.5rem;
  background-position-y: 0.5rem;
  padding-bottom: 8rem;
}

music-staff[clef="treble"] music-note[pitch="E8"] {
  margin-top: -10rem;
  padding-bottom: 8rem;
}

music-staff[clef="treble"] music-note[pitch="F8"] {
  margin-top: -10.5rem;
  background-position-y: 0.5rem;
  padding-bottom: 9rem;
}

music-staff[clef="treble"] music-note[pitch="G8"] {
  margin-top: -11rem;
  padding-bottom: 9rem;
}

music-staff[clef="treble"] music-note[pitch="A9"] {
  margin-top: -11.5rem;
  background-position-y: 0.5rem;
  padding-bottom: 10rem;
}

music-staff[clef="treble"] music-note[pitch="B9"] {
  margin-top: -12rem;
  padding-bottom: 10rem;
}

music-staff[clef="treble"] music-note[pitch="C9"] {
  margin-top: -12.5rem;
  background-position-y: 0.5rem;
  padding-bottom: 11rem;
}

music-staff[clef="treble"] music-note[pitch="D9"] {
  margin-top: -13rem;
  padding-bottom: 11rem;
}

music-staff[clef="treble"] music-note[pitch="E9"] {
  margin-top: -13.5rem;
  background-position-y: 0.5rem;
  padding-bottom: 12rem;
}

music-staff[clef="treble"] music-note[pitch="F9"] {
  margin-top: -14rem;
  padding-bottom: 12rem;
}

music-staff[clef="treble"] music-note[pitch="G9"] {
  margin-top: -14.5rem;
  background-position-y: 0.5rem;
  padding-bottom: 13rem;
}
/*# sourceMappingURL=style.css.map */